body {
    background-color: ghostwhite;
    font-family: 'Roboto', sans-serif;
}

/*Hyperlinks*/
#mail, #img, #sign {
    float: right;
    margin: 0px 10px 20px;
    padding-top: 10px;
}

#info, #shop {
    float: left;
    margin: 0px 10px 20px;
    padding-top: 10px;
}

#sign /*Sign In Button*/ {
    background-color: steelblue;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

#hyp {
    font-size: 14px;
    color: darkgrey;
}

 /*Logo and Search Box*/
.logo {
    display: block;
    margin: 0px 510px;
    width: 272px;
    padding: 200px 0px 0px 20px !important;
    padding-bottom: 20px !important;
}


input[type="text"] {
    display: block;
    margin: 0 auto;
    width: 402px;
    height: 30px;
    border-width: 2px;
    border-radius: 15px;
}

.leftbutton {
    display: inline;
    padding: 10px 28px;
    text-align: center;
    margin-left: 525px;
}

.rightbutton {
    display: inline;
    padding: 10px 20px;
    text-align: center;
}