body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
}

/*Hyperlinks*/

a {
    text-decoration: none;
    color: #000000;
}

a:link {
    color: #000000
}

a:hover {
    text-decoration: underline;
    color: #000000
}

#mail, #img, #sign, #app {
    float: right;
    margin: 0px 10px 20px;
    padding-top: 12px;
    padding-right: 5px;
}

#app {
    padding-top: 5px;
}

#sign /*Sign In Button*/ {
    font-weight: bold;
    font-size: 12px;
    background-color: #4683ea;
    margin-top: 5px;
    padding: 8px 12px;
    color: white;
    border-radius: 2px;
    cursor: default;
    margin-right: 20px;
}

#sign:hover {
    text-decoration: none;
}

#hyp {
    font-size: 13px;
    color: darkgrey;
}

 /*Logo and Search Box*/
.logo {
    display: block;
    margin: 0px 510px;
    width: 272px;
    padding: 200px 0px 0px 20px !important;
    padding-bottom: 20px !important;
}


 #sbox {
    display: block;
    margin: 0 auto;
    width: 522px;
    height: 40px;
    border-width: 1px;
    border-radius: 30px;
    border-color: lightgray;
    border-style: solid;
}

.button {
    border-style: hidden;
    background: #f2f2f2;
    color: #5F6368;
    border-radius: 3px;
}

.leftbutton {
    display: inline;
    padding: 10px 28px;
    margin-left: 525px;
    
}

.rightbutton {
    display: inline;
    padding: 10px 20px;
}

/*Navigation bar*/

.footer-link {
    display: inline;
    position: absolute;
    bottom: 0;
    background: #f2f2f2;
    font-size: 13px;
    padding: 15px 8px;
    padding-left: 0px;
    margin: 0px;
}

.nav {
    display: inline;
    padding: 10px;
    margin: 5px 0px;
    color: #5F6368;
}

.r {
    position: absolute;
    right: 0;
    padding-left: 863px;
}

#ad {
    padding-left: 20px;
    border-left-width: 50px
}

